div(class="bg-white shadow rounded-lg")
    img(class="object-cover h-65 sm:h-70 w-full rounded" src=`/uploads/${propiedad.imagen}` alt=`imagen de ${propiedad.titulo}`)
    div(class="p-5 space-y-5")
        h3(class="text-xl sm:text-2xl font-bold")= propiedad.titulo
        p(class="text-sm text-gray-600") Habitaciones: 
            span(class="text-gray-800 font-bold")= propiedad.habitaciones
        p(class="text-sm text-gray-600") WC: 
            span(class="text-gray-800 font-bold")= propiedad.wc
        p(class="text-sm text-gray-600") Precio: 
            span(class="text-gray-800 font-bold")= propiedad.precio.nombre
        a(href=`/propiedad/admin/${propiedad.id}` class="rounded-md bg-green-600  w-full text-center text-white block font-bold p-2 text-sm sm:text-lg uppercase") Ver Propiedad